@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https: //fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {

    // fonts
    --font-popins: 'Poppins', sans-serif;
    --font-monzerrat: 'Montserrat', sans-serif;

    --font-nunito: 'Nunito', sans-serif;
    // colors
    //color total
    --primaty: #000000;
    --secont: #202020;
    --textPrimary: #ffffff;
    --textHover: #707070;
    --botton: rgb(100, 100, 100);


    --gray-1: #A6A6A6;
    --gray-2: #737373;
    --gray-3: #404040;
    --gray-4: #7F0000;
    --gray-5: #0D0D0D;


    --green-1: #004D0A;
    --green-2: #00D686;
    --blue-1: #161A73;
    --blue-2: #1C228C;
    --blue-3: #090A26;
    --blue-4: #3752A6;
    --blue-5: #A6977B;
    --green-1: #f2f3ed;
    --green-2: #EAF207;
    --green-3: #265902;
    --green-4: #CEF2D0;

    --desplazamient: -20%;
    --angle: 1deg;
    //rick animation
    --eyeizx: 0px;
    --eyeizy: 0px;
    //animation rick
    --position: 110%;
    --dark: 20%;

    //roboto Animation
    --rotatex: 0deg;
    --rotatey: 0deg;
    --robotox: 0px;
    --robotoy: 0px;

    //cube
    --windowa: 90deg;
    --windowb: 180deg;
    --windowc: 270deg;
    --windowd: 360deg;
    --zindexa: 10;
    --zindexb: 10;
    --zindexc: 10;
    --zindexd: 10;
}