@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    // fonts
    --font-popins: 'Poppins', sans-serif;
    // colors

    --gray-1: #A6A6A6;
    --gray-2: #737373;
    --gray-3: #404040;
    --gray-4: #7F0000;
    --gray-5: #0D0D0D;


    --green-1: #004D0A;
    --green-2: #00D686;
    --blue-1: #161A73;
    --blue-2: #1C228C;
    --blue-3: #090A26;
    --blue-4: #3752A6;
    --blue-5: #A6977B;
    --green-1: #ABD904;
    --green-2: #EAF207;
    --green-3: #265902;
    --green-4: #CEF2D0;

    --desplazamient: -20%;
    --angle: 0deg;
}