.HomeContainer {
    position: relative;
    width: calc(100% - 200px);
    height: 100vh;
    color: var(--textPrimary);
    background: var(--primaty);
    display: flex;
    justify-content: center;
    align-items: center;


    .HomeTitule {
        width: min-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h1 {
            width: max-content;
            font-size: 4rem;
            font-weight: 800;
        }

        h2 {
            font-size: 2rem;
            font-weight: 500;
            height: min-content;

        }

        .whrite {
            white-space: nowrap;
            border-right: 2px solid;
            width: 27ch;
            animation: typing 5s steps(32), blink .5s infinite step-end alternate;
            overflow: hidden;
        }


    }



}

.centerBrain {
    z-index: 2;
    position: absolute;
    font-size: 1.5rem;
    transform: translateY(65px);

}

.HomeController:hover {
    color: aqua;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.abouthomecontainer::-webkit-scrollbar {
    width: 7px;

}

.abouthomecontainer::-webkit-scrollbar-thumb {
    background: var(--green-1);
    border-radius: 10px;
}

@media (max-width: 900px) {
    .HomeContainer {
        width: 100%;
        min-height: 100vh;

        .HomeTitule {
            h1 {

                font-size: 2rem;
                font-weight: 800;
            }

            h2 {
                font-size: 1rem;
                font-weight: 500;
                height: min-content;

            }
        }
    }
}