.Navbar {
    width: 200px;
    height: 100vh;
    background: var(--secont);

    color: var(--textPrimary);
    box-shadow: -20px -20px -15px var(--textPrimary);
    border-right: solid 0.5px var(--textPrimary);

    // position: fixed;

    hr {
        border: 0;
        height: 1px;
        background-color: var(--textPrimary);
        margin: auto;
        width: 95%;
    }

    .NavPhoto {
        width: 100%;
        position: relative;
        display: flex;

        img {
            width: 90%;
            height: 150px;
            margin: 10px auto;
            border-radius: 50%;
            margin-bottom: 50px;
            background: var(--botton);
        }
    }

    .NavContainer {
        margin-left: 5px;
        text-align: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        gap: 5px;
        margin-left: 15px;
        cursor: pointer;
        transition: 0.5s;

        h1 {
            font-size: 1.5rem;
        }

        .navIco {
            font-size: 1.5rem;
        }
    }

    .NavContainer:hover {
        color: var(--textHover);
    }




}

.NavLink {
    display: flex;
    gap: 10px;
    bottom: 0px;
    left: 10px;
    justify-content: center;
    margin: 50px auto;


    a {
        text-decoration: none;
        color: var(--textPrimary);
    }

    .navIco {
        text-decoration: none;
        cursor: pointer;
        font-size: 3rem;
        transition: 0.5s;
    }

    .navIco:hover {
        text-decoration: none;
        color: var(--textHover);
        transform: translateY(-10px);
    }
}

.color {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    background-color: transparent;
    right: -1.5%;
    top: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}



@media (max-width: 900px) {
    .Navbar {
        hr {
            display: none;
        }

        width: 100%;
        height: min-content;
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 10px;

        .NavPhoto {
            display: none;
        }

        .NavLink {
            display: none;
        }

        .NavContainer {

            width: min-content;
            gap: 2px;
            h1 {
                display: none;
            }
        }
    }
}

@media (max-height: 500px) {
    .NavLink {
        display: none;
    }
}