.containerData {
    position: relative;
    width: 80%;
    height: 75vh; 
    margin:20px auto;
    background: rgba(56, 56, 56, 0.13);
    border-radius: 10px;
    animation-name: bait;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    overflow-y: auto;
    box-shadow: 2px 2px 8px var(--textPrimary);
}

.ContainerB3 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;



}

@keyframes bait {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.BaitContainer2 {
    width: 90%;
    display: flex;
    margin: auto;
    min-height: 70vh;
    h1 {
        font-size: 3rem;

    }

    div {
        width: 50%;
        margin: auto;

        p {
            margin-left: 20px;
            font-size: 1.1rem;

        }

        iframe {
            transform: perspective(800px) rotateY(-35deg);
        }
    }
}






.BaitBottons {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 20px;

    .BaitBottons1 {
        cursor: pointer;
        background: var(--botton);
        padding: 5px;
        border-radius: 10px;
        color: var(--textPrimary);
        display: flex;
        gap: 10px;

        .BaitICO {
            font-size: 1.5rem;
            transition: 0.5s;
        }
    }

    .BaitBottons1:hover {
        .BaitICO {
            transform: translateY(-5px);
        }
    }
}

.containerData::-webkit-scrollbar {
    width: 7px;

}

.containerData::-webkit-scrollbar-thumb {
    background: var(--textPrimary);
    border-radius: 10px;
}

@media (max-width: 1200px) {


    .BaitContainer2 {
        flex-wrap: wrap;
        justify-content: center;

        div {
            margin-bottom: 20px;
            width: 100%;

            iframe {
                margin-top: 10px;
                transform: perspective(0px) rotateY(0deg);
                width: 100%;
            }
        }


    }
}
.Title{
    width: min-content;
    margin: auto;
    font-weight: 900;
    font-size: 2rem;
}
.ListCard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid 2px white;
    border-radius: 10px;
    h1{
        font-size: 1em;
    }
   img{
    width: 100%;
    height: 80%;
   }
}
.card:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px white;
    
}
.descriptionTiTle{
    width: fit-content;
    margin:20px auto;
}
.icoReturn{
   background: rgb(251, 251, 252);
    font-size: 3rem;
    text-align: right;
    color: black;
    border-radius: 10px;
}
.icoReturn:hover{
    cursor: pointer;
}
.div90{
    width: 90%;
    text-align: left;
    margin: auto
}